[user]
  name = Daniel Forsberg
  email = danielforsberg89@gmail.com

[github]
  user = danielforsberg

[pull]
  rebase = true

[alias]
  cm = commit --amend
  ci = commit
  co = checkout
  st = status
  br = branch
